/* defined variables here. Do not hardcode them elsewhere */
:root {
  --theme-bg: #6534eb;
  --theme-fg: #ffffff;
  --theme-txt: #5c5c5c; /* regular text color */
  --theme-ac: #ffd900; /*accent color*/

  --page-max-width: 1500px;
}

p {
  margin: 0 !important; /*reset*/
}

body {
  margin: 0 !important; /*reset*/
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  counter-reset: card-count;
}

header {
  display: flex;
  justify-content: center;
  background: var(--theme-bg);
  padding: 0;
  box-shadow: 0 3px 10px rgb(101 52 235 / 0.6);
  line-height: normal;
}

header .header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center !important;
  width: 90%;
  max-width: var(--page-max-width);
}

header .site-title {
  color: var(--theme-fg);
  font-family: "Caveat", cursive;
  font-size: 2rem;
}

header a {
  text-decoration: none;
  color: var(--theme-fg);
}

nav {
  font-family: "Montserrat", sans-serif;
  color: var(--theme-fg);
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}

nav li {
  margin: 0 0.5em;
}

nav a {
  text-decoration: none;
  font-weight: 400;
  padding: 0.25em 0;
  color: var(--theme-fg);
}

nav a:hover:not(.current-page),
nav a:focus:not(.current-page) {
  font-weight: 500 !important;
  color: white !important;
}

nav a::before {
  display: block;
  content: attr(title);
  font-weight: 500; /* should be same as font-weight in a:focus */
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

nav .current-page {
  border-bottom: solid var(--theme-fg) 0.07em;
}

@media (max-width: 675px) {
  header .header-container {
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  nav li {
    margin: 0.25em 0;
  }
}
