{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>My Profile</title>

<!-- CDNs: -->
<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{%endblock%}


{% block page_content %}
<style>
    ul,
    li {
        list-style-type: none;
    }

    .success {
        color: green;
    }

    .errorlist {
        color: red;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    p {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 12px !important;
    }
</style>

{% for message in messages %}
<li class="{{ message.tags }}" style="padding-bottom: 6px;">
    {{ message }}
</li>
{% endfor %}

<h2 id="greeting" style="padding-top: 12px; padding-bottom: 30px;">Hello, {{request.user}}</h2>

<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <div style="display: flex; justify-content: space-between; margin-top: 18px;">
        <button type="submit" class="btn btn-primary">Edit</button>

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" id="delbtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Delete Account
        </button>
    </div>
</form>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Account?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently delete your Account? This action is irreversible
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a class="btn btn-danger" id="confirm_delbtn" style="width: 100px;"
                    href="/deleteuser/{{request.user}}">Delete</a>
            </div>
        </div>
    </div>
</div>

<h2> {{ error }} </h2>


<!--Bootstrap js. Right before /body for loading speed-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
{%endblock%}