{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />
  <!-- <link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}" /> -->

  <!-- Important for href links to follow after BASE url dir NOT current url (ex:/logout/ NOT /home/logout) -->
  <base href="/" />

  <!-- Add page-specific <head> elements in the block below when you extend from base.html-->
  <!-- Decided not to do this for now. Link them here in base.html instead so that all pages have access to them, 
    unless you know that no other pages needs it.-->
  {% block head_content %}{%endblock%}

  <!-- Google fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />
</head>

<body>
  <header>
    <div class="header-container" style="display: flex; justify-content: space-between; align-items: center;">
      <div class="site-title">
        <p><a href="{% url 'home' %}">Softbid</a></p>
      </div>
      <nav>
        <ul>
          {% url 'home' as url_home %}
          {% url 'dashboard' as url_dashboard %}
          {% url 'project_list' as url_explore %}
          {% url 'partners' as url_partners%}
          {% url 'support' as url_support %}
          <li>
            <a {% if url_home in request.path %} class="current-page" {% endif %} href="{% url 'home' %}"
              title="Home">Home</a>
          </li>
          <li>
            <a {% if url_dashboard in request.path %} class="current-page" {% endif %} href="{% url 'dashboard' %}"
              title="Dashboard">Dashboard</a>
          </li>
          <li>
            <a {% if url_explore in request.path %} class="current-page" {% endif %} href="{% url 'project_list' %}"
              title="Explore">Explore</a>
          </li>
          <li>
            <a {% if url_partners in request.path %} class="current-page" {% endif %} href="{% url 'partners' %}"
              title="Partners">Partners</a>
          </li>
          <li>
            <a {% if url_support in request.path %} class="current-page" {% endif %} href="{% url 'support' %}"
              title="Support">Support</a>
          </li>
        </ul>
      </nav>

      <style>
        #authgroup,
        #authgroup a {
          text-decoration: none;
          color: white;
          font-family: "Montserrat", sans-serif;
          margin: 0 0.5em;
          /* padding: 1px 6px; */
        }

        @media (max-width: 675px) {

          #authgroup,
          #authgroup a {
            margin: 0.25em 0;
          }
        }

        #authgroup a:hover {
          color: white !important;
        }
      </style>

      <div id="authgroup">
        {% if request.user.is_active %}
        <div>
          <a name="account-btn" href='account/'>Account</a>
          |
          <a name="logout-btn" href='logout/'>Logout</a>
        </div>
        {% else %}
        <div>
          <a name="login-btn" href='login/'>Login</a>
          |
          <a name="signup-btn" href='signup/'>Signup</a>
        </div>
        {% endif %}
      </div>

    </div>
  </header>

  <!-- Div that wraps page is included here in base.html. Do not include another one in your html file that extends base.html.-->
  <div class="page-container">{% block page_content %}{% endblock %}</div>
</body>

</html>