<!-- <!DOCTYPE html>
<html lang="en"> -->
{% extends 'base.html' %}
{% load static %}

<!-- <head> -->
{% block head_content %}
<meta charset="UTF-8">
<title>Bid Post</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'bid_post/bid_post.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />
<style>
    body {
        line-height: 1.6;
    }

    ul {
        margin-top: 0 !important;
    }

    a {
        color: var(--theme-fg) !important;
    }

    nav a {
        text-decoration: none !important;
        font-weight: 400 !important;
        padding: 0.25em 0 !important;
        color: var(--theme-fg) !important;
    }

    nav ul {
        margin: auto !important;
    }

    .messages {
        color: red;
        text-align: center;
    }

    .page-container {
        margin-top: 9% !important;
    }

    form {
        width: 70% !important;
    }
</style>
<!-- </head> -->
{% endblock %}

{% block page_content %}
<!-- <body> -->
<!-- <div class="bid_form">
        <div class="card">
            <div class="card-body"> -->
<form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    {{ bid_form.Cost}}<br>
    <!-- <span>Select Expect duration</span><br>
                        <input type="date" name="Time"><br> -->
    {{ bid_form.Time}}
    {{ bid_form.Description}}<br>
    <span><b>Please Upload project Proposal:</b></span><br><br>
    {{ bid_form.Proposal}}<br><br>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" name="submit" id="submit"
        style="width: 100%;"><br>
    {% if DeleteButton %}
    <input type="submit" name="Delete" class="btn btn-primary btn-lg btn-block" value="Delete" id="Delete"
        style="width: 100%;">
    {% endif %}
    <!-- <p id="error">{{ error_msg }}</p> -->
</form>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}" id="error" {% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock %}
<!-- </div>
        </div>
    </div>
</body>

</html> -->