<!-- <!DOCTYPE html>
<html lang="en"> -->
{% extends 'base.html' %}
{% load static %}

<!-- <head> -->
{% block head_content %}
<meta charset="UTF-8">
<title>Bid_listing</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<!-- <script src="{% static 'Datatables/dataTables.searchBuilder.min.js' %}"></script>
    <script src="{% static 'Datatables/dataTables.dateTime.min.js' %}"></script> -->
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'Datatables/demo.css' %}"/>
    <link rel="stylesheet" href="{% static 'Datatables/searchBuilder.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'Datatables/dataTables.dateTime.min.css' %}"/> -->
<style>
    body {
        line-height: 1.6;
    }

    ul {
        margin-top: 0 !important;
    }

    a {
        color: var(--theme-fg) !important;
    }

    nav a {
        text-decoration: none !important;
        font-weight: 400 !important;
        padding: 0.25em 0 !important;
        color: var(--theme-fg) !important;
    }

    nav ul {
        margin: auto !important;
    }

    table {
        width: 100% !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        // $('#example th').each( function () {
        //     var title = $(this).text();
        //     $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        // } );

        // DataTable
        var table = $('#example').DataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });

    });
</script>
<!-- </head> -->
{% endblock %}

<!-- <body> -->
{% block page_content %}
<div id="wrap" style="margin-top: 4%;width: 100%;">
    <div class="container">
        <table id="example" class="display" style="width:100%">
            {% csrf_token %}
            <thead>
                <tr>
                    <!-- <th>Bid id</th>
    <th>Project id</th> -->
                    <!-- <th>Dev id</th> -->
                    <th>Cost</th>
                    <th>Time</th>
                    <th>Description</th>
                    <th>Proposal</th>
                    <th>Modify</th>
                </tr>
            </thead>

            <tbody>

                {% for obj in bid_list%}
                {% if request.user.id == obj.Dev_id %}
                <tr>
                    <!-- <td>{{ obj.Bid_id }}</td>
                        <td>{{ obj.Project_id }}</td> -->
                    <!-- <td>{{ obj.Dev_id }}</td> -->
                    <td>{{ obj.Cost }}</td>
                    <td>{{ obj.Time }}</td>
                    <td>{{ obj.Description }}</td>
                    {% if obj.Proposal != "" %}
                    <td><a href="/{{ obj.Proposal}}" style="color: var(--theme-bg)!important">Proposal</a></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                    <td><a href="/bid_modify?id={{ obj.Bid_id }}" style="color: var(--theme-bg)!important">modify</a>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <!-- <th>Bid id</th>
        <th>Project id</th> -->
                    <!-- <th>Dev id</th> -->
                    <th>Cost</th>
                    <th>Time</th>
                    <th>Description</th>
                    <th>Proposal</th>
                    <th>Modify</th>
                </tr>
            </tfoot>
        </table>
        {% endblock %}
        <!-- </body>

</html> -->