{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/dashboard.css' %}" />
{%endblock%}

{% block page_content %}

<!-- Quickfact boxes-->
<div class="quickfact-container">

    <!-- Bidder rank-->
    <div class="quickfact">
        <div class="big">
            {{bids.bidder_rank}}
        </div>
        <div class="small">
            rank
        </div>
    </div>

    <!-- Bidder score-->
    <div class="quickfact">
        <div class="big">
            {{bids.bidder_score}}
        </div>
        <div class="small">
            score
        </div>
    </div>

    <!-- Total number of projects-->
    <div class="quickfact">
        <div class="big">
            {{bids.num_total_projects}}
        </div>
        <div class="small">
            projects
        </div>
    </div>

    <!-- Create new bid-->
    <div class="quickfact">
        <div class="big">
            <a href="{% url 'project_list' %}" style="text-decoration: none" class="big">+</a>
        </div>
        <div class="small">
            <a href="{% url 'project_list' %}" style="text-decoration: none" class="small">bid</a>
        </div>
    </div>
</div>

{% for bid in bids %}
<!-- Bid card. Contains bid details-->
<div class="card">
    <div class="card-container">

        <!-- Project name-->
        <div class="card-title">
            <p>{{bid.project.Name}}</p>
            <a href="/bid_modify?id={{ bid.Bid_id }}" class="button">Modify</a>
        </div>

        <div class="card-content">

            <details class="card-content-elements">
                <summary>Bid Description</summary>
                <p>{{bid.Description}}</p>
            </details>

            <details class="card-content-elements">
                <summary>Project Description</summary>
                <p>{{bid.project.Description}}</p>
            </details>

            <details class="card-content-elements">
                {% if bid.project.due_today %}
                <summary>Due today!</summary>
                {% elif bid.project.days_left %}
                <summary>{{bid.project.days_left}} {% if bid.project.days_left == 1 %} day {% else %} days {% endif%}
                    left
                </summary>
                {% elif bid.project.days_passed %}
                <summary>{{bid.project.days_passed}} {% if bid.project.days_passed == 1 %} day {% else %} days
                    {% endif %} passed
                </summary>
                {% else %}
                <!-- shouldn't happen, but just in case-->
                <summary>Due date</summary>
                {% endif %}
                <p>Due on {{bid.project.DueDate}}</p>
            </details>

            <div class="card-content-elements">
                <p style="color: var(--theme-ac)">Client: {{bid.client_name}}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{%endblock%}