{% extends 'base.html' %}
{% load static %}

{% block head_content %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/dashboard.css' %}" />
{%endblock%}

{% block page_content %}

<!-- Quickfact boxes-->
<div class="quickfact-container">

    <!-- Projects pending-->
    <div class="quickfact">
        <div class="big">
            {{projects.num_pending}}
        </div>
        <div class="small">
            pending
        </div>
    </div>

    <!-- Projects confirmed-->
    <div class="quickfact">
        <div class="big">
            {{projects.num_active}}
        </div>
        <div class="small">
            active
        </div>
    </div>

    <!-- Total bids on all projects-->
    <div class="quickfact">
        <div class="big">
            {{projects.num_total_bids}}
        </div>
        <div class="small">
            bids total
        </div>
    </div>

    <!-- Create new project-->
    <div class="quickfact">
        <div class="big">
            <a href="{% url 'project_post' %}" style="text-decoration: none" class="big">+</a>
        </div>
        <div class="small">
            <a href="{% url 'project_post' %}" style="text-decoration: none" class="small">create</a>
        </div>
    </div>
</div>

{% for project in projects %}
<!-- Project card. Contains project details-->
<div class="card">
    <div class="card-container">

        <!-- Project name-->
        <div class="card-title">
            <p>{{project.Name}}</p>
            <a href="/project_modify?id={{ project.Project_id }}" class="button">Modify</a>
        </div>

        <div class="card-content">

            <details class="card-content-elements">
                <summary>Project Description</summary>
                <p>{{project.Description}}</p>
            </details>

            <details class="card-content-elements">
                <summary>{{project.num_bids}} {% if project.num_bids == 1 %} bidder {% else %} bidders {% endif%}
                </summary>
                {% for bidder in project.bidders %}
                <p>{{bidder}}</p>
                {% endfor %}
            </details>

            <details class="card-content-elements">
                {% if project.due_today %}
                <summary>Due today!</summary>
                {% elif project.days_left %}
                <summary>{{project.days_left}} {% if project.days_left == 1 %} day {% else %} days {% endif%} left
                </summary>
                {% elif project.days_passed %}
                <summary>{{project.days_passed}} {% if project.days_passed == 1 %} day {% else %} days {% endif%} passed
                </summary>
                {% else %}
                <!-- shouldn't happen, but just in case-->
                <summary>Due date</summary>
                {% endif %}
                <p>Due on {{project.DueDate}}</p>
            </details>

            {% if project.top_bidder %}
            <div class="card-content-elements">
                <p style="color: var(--theme-ac)">Top bidder: {{project.top_bidder}}</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}


{%endblock%}