<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}">
        <!--<script src="{% static 'js/login_error.js' %}"></script>-->
        
    </head>
    <body>
        <div class="footer">
        <p>trademark 2022</p>
    </div>
    </body>
</html>