{% extends 'base.html' %}
{% load static %}


{% block head_content %}
<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}" />
{% endblock %}


{% block page_content %}

<div class="card">
    <div class="card-container">
        <div class="card-div1">
            <p class="card-title">Find developer teams for your project today.</p>
        </div>
        <div class="card-div2">
            <a href="{% url 'explore' %}" class="button">Explore</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-container">
        <div class="card-div1">
            <p class="card-title">New to Softbid? We've got you covered.</p>
        </div>
        <div class="card-div2">
            <a href="{% url 'support' %}" class="button">Support</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-container">
        <div class="card-div1">
            <p class="card-title">
                Partnerships start here. Let's get things moving.
            </p>
        </div>
        <div class="card-div2">
            <a href="{% url 'partners' %}" class="button">Partners</a>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-container">
        <div class="card-div1">
            <p class="card-title">
                Up and running? Keep an eye on your dashboard.
            </p>
        </div>
        <div class="card-div2">
            <a href="{% url 'dashboard' %}" class="button">Dashboard</a>
        </div>
    </div>
</div>

{%endblock%}