<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    {% for message in messages%}
    <p id="messages">{{message}}</p>
    {% endfor %}

    <p>Hello, {{request.user}}</p>

    {% if isloggedin %}
    <a href='logout/' style="padding: 3%;">Logout</a>
    {% else %}
    <a href='login/' style="padding: 3%;">Login</a>
    <a href='signup/' style="padding: 3%;">Signup</a>
    {% endif %}

</body>

</html>