<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'login/login.css' %}">
    <!--<script src="{% static 'js/login_error.js' %}"></script>-->
</head>


<body>
    <div class="login_form">
        <div class="card">
            <div class="card-body">
                <!-- {% if not isloggedin %} -->
                <form method="post">
                    <!-- Show the error at the top of form -->
                    <p id="error">{{ error }}</p>
                    <!--<label for="username"><b>Username</b></label><br>-->
                    <!-- Username Input -->
                    <div class="image">
                        <img src="{% static 'icons/email.png' %}" />
                        <input type="text" id="username" name="username" placeholder="Username or Email">
                    </div><br>
                    <!--<label for="password"><b>Password</b></label><br>-->

                    <!-- Password Input -->
                    <div class="passwordimage">
                        <img src="{% static 'icons/password.png' %}" />
                        <input type="password" id="password" name="password" placeholder="Password">
                    </div>
                    <ul>
                        <li>Password should contain atleast 8 characters</li>
                    </ul>
                    <br>

                    <!-- Submit Button -->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">Login</button>
                    <p class="redirect">Not a member yet?&nbsp;<a href="../signup/">Join now</a></p>
                </form>
                <!-- {% endif %} -->

            </div>
        </div>
    </div>

    <!-- Script to hide errors on the click of username input-->
    <script>
        var input = document.getElementById("username");
        var message = document.getElementById("error");
        input.addEventListener('focus', function () {
            message.hidden = true;
        });
    </script>
</body>

</html>