<!-- <!DOCTYPE html>
<html lang="en"> -->
{% extends 'base.html' %}
{% load static %}

<!-- <head> -->
{% block head_content %}
<meta charset="UTF-8">
<title>Project Post</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'project_post/project_post.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />
<style>
    body {
        line-height: 1.6;
    }

    ul {
        margin-top: 0 !important;
    }

    a {
        color: var(--theme-fg) !important;
    }

    nav a {
        text-decoration: none !important;
        font-weight: 400 !important;
        padding: 0.25em 0 !important;
        color: var(--theme-fg) !important;
    }

    nav ul {
        margin: auto !important;
    }

    .page-container {
        margin-top: 9% !important;
    }

    form {
        width: 70% !important;
    }
</style>
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<!-- <link rel="stylesheet" type="text/css" href="{% static 'project_post/project_post.css' %}"> -->
<!-- </head> -->
{% endblock %}

<!-- <body> -->
{% block page_content %}
<!-- <div class="project_form"> -->
<!-- <div class="card">
        <div class="card-body"> -->
<form method="post" enctype="multipart/form-data" novalidate>
    <!-- <p id="error">{{ error_msg }}</p> -->
    {% csrf_token %}
    {{ project_form.Name}}<br>
    {{ project_form.Description }}<br>
    <!-- <span><b>Select Project due date:</b></span><br> -->
    <!-- <input type="date" name="Duedate"> -->
    {{ project_form.Duedate}}
    <span><b>Please Upload project Requirements:</b></span><br>
    {{ project_form.Requirements }}<br><br>
    <input type="submit" class="btn btn-primary btn-lg btn-block" value="Submit" id="submit" style="width: 100%;"><br>
    {% if DeleteButton %}<br>
    <input type="submit" name="Delete" class="btn btn-primary btn-lg btn-block" value="Delete" id="Delete"
        style="width: 100%;">
    {% endif %}
</form>
{% if messages %}
{% for message in messages %}
<li {% if message.tags %} class="{{ message.tags }}" id="error" {% endif %}>{{ message }}</li>
{% endfor %}
{% endif %}
<!-- </div>
    </div> -->
<!-- </div> -->
<!-- </body> -->
{% endblock %}

<!-- </html> -->