{% extends 'base.html' %}

{% load static %}

{% block head_content %}
<meta charset="UTF-8">
<title>Project_listing</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<!-- <script src="{% static 'Datatables/dataTables.searchBuilder.min.js' %}"></script>
    <script src="{% static 'Datatables/dataTables.dateTime.min.js' %}"></script> -->
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'Datatables/demo.css' %}"/>
    <link rel="stylesheet" href="{% static 'Datatables/searchBuilder.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'Datatables/dataTables.dateTime.min.css' %}"/> -->
<style>
    #wrap {
        line-height: 1.6;
    }

    ul {
        margin-top: 0 !important;
    }

    a {
        color: var(--theme-fg) !important;
    }

    nav a {
        text-decoration: none !important;
        font-weight: 400 !important;
        padding: 0.25em 0 !important;
        color: var(--theme-fg) !important;
    }

    nav ul {
        margin: auto !important;
    }

    table {
        width: 100% !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        // $('#example th').each( function () {
        //     var title = $(this).text();
        //     $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        // } );

        // DataTable
        var table = $('#example').DataTable({
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });

    });
</script>
{% endblock %}
<!-- </head> -->

<!-- <body> -->
{% block page_content %}
<div id="wrap" style="margin-top: 4%;width: 100%;">
    <div class="container">
        <table id="example" class="display" style="width:100%">
            {% csrf_token %}
            <thead>
                <tr>
                    <!-- <th>Project id</th> -->
                    <th>Name</th>
                    <th>Description</th>
                    <!-- <th>Client id</th> -->
                    <th>Due Date</th>
                    <th>Requirements</th>
                    <th>Bid</th>
                    {% if request.user.groups.all.0.name == 'client' %}
                    <th>Modify</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for obj in project_list%}
                <tr>
                    <!-- <td>{{ obj.Project_id }}</td> -->
                    <td id="name">{{ obj.Name }}</td>
                    <td id="description">{{ obj.Description }}</td>
                    <!-- <td>{{ obj.Client_id }}</td> -->
                    <td id="duedate">{{ obj.DueDate }}</td>
                    {% if obj.Attachments != "" %}
                    <td id="attachment"><a href="/{{ obj.Attachments}}"
                            style="color: var(--theme-bg)!important">Attachments</a>
                    </td>
                    {% else %}
                    <td id="attachment"></td>
                    {% endif %}
                    <td id="bid"><a href='../bid_post/?id={{ obj.Project_id }}'
                            style="color: var(--theme-bg)!important">Bid</a>
                    </td>
                    {% if request.user.groups.all.0.name == 'client' %}
                    <td id="modify"><a href="/project_modify?id={{ obj.Project_id }}"
                            style="color: var(--theme-bg)!important">Modify</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <!-- <th>Project id</th> -->
                    <th>Name</th>
                    <th>Description</th>
                    <!-- <th>Client id</th> -->
                    <th>Due Date</th>
                    <th>Requirements</th>
                    <th>Bid</th>
                    {% if request.user.groups.all.0.name == 'client' %}
                    <th>Modify</th>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
<!-- </body> -->

<!-- </html> -->