<!DOCTYPE html>
<html>
{% load static %}

<head>
    <title>Signup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'login/register.css' %}">
    <!--<script src="{% static 'js/login_error.js' %}"></script>-->
    <!-- <script src="{% static 'js/jquery-3.6.0.js' %}"></script> -->
</head>

<body>

    <div class="register_form container-fluid text-wrap">
        <div class="card">
            <div class="card-body">
                <!-- {% if not isloggedin %} -->
                <form method="post">

                    <!-- Show the error at the top of form -->
                    <p id="error">{{ error }}</p>

                    <!-- Username Input -->
                    <!--<label for="username"><b>Username</b></label><br>-->
                    <div class="emailimage">
                        <img src="{% static 'icons/email.png' %}" />
                        <input type="text" id="username" name="username" placeholder="Username">
                    </div>
                    <div id="username-error" class="custom-error">
                        {{ form.username.errors }}
                    </div>
                    <br>

                    <!-- Email Input -->
                    <div class="emailimage">
                        <img src="{% static 'icons/email.png' %}" />
                        <input type="email" id="email" name="email" placeholder="Email">
                    </div>
                    <div id="email-error" class="custom-error">
                        {{ form.email.errors }}
                    </div>
                    <br>

                    <!-- Organisation Input -->
                    <div class="orgimage">
                        <img src="{% static 'icons/organisation.png' %}" />
                        <input type="text" id="org_name" name="org_name" placeholder="Organisation Name">
                    </div>
                    <div id="org_name-error" class="custom-error">
                        {{ form.org_name.errors }}
                    </div>
                    <br>

                    <!-- Password1 Input -->
                    <!--<label for="password"><b>Password</b></label><br>-->
                    <div class="passwordimage">
                        <img src="{% static 'icons/password.png' %}" />
                        <input type="password" id="password" name="password1" placeholder="Password">
                    </div>
                    <div id="password1-error" class="custom-error">
                        {{ form.password1.errors }}
                    </div>
                    <br>

                    <!-- Password2 Input -->
                    <div class="passwordimage">
                        <img src="{% static 'icons/password.png' %}" />
                        <input type="password" id="password" name="password2" placeholder="Confirm Password">
                    </div>
                    <ul>
                        <li>Password should contain atleast 8 characters</li>
                    </ul>
                    <div id="password2-error" class="custom-error">
                        {{ form.password2.errors }}
                    </div>

                    <!-- Profession Dropdown -->
                    <div class="abc">
                        <div class="iamimage">
                            <img src="{% static 'icons/person.png' %}" />
                            <label for="profession"></label>
                        </div>

                        <select class="abc-control" id="customer" name="profession">
                            <option selected="true" disabled="disabled" hidden>Category:</option>
                            <option value="client">non-technical Business</option>
                            <option value="bidder">Software Developper</option>
                        </select>
                    </div>
                    <div id="profession-error" class="custom-error">
                        {{ form.profession.errors }}
                    </div>
                    <br>

                    <!-- Submit Button -->
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-lg btn-block" id="submit">Register</button>
                    <p class="redirect">Already a member?&nbsp;<a href="../login/">Sign In</a></p>
                </form>
                <!-- {% endif %} -->

            </div>
        </div>
    </div>

    <!-- Script to hide errors on the click of username input-->
    <script>
        var input = document.getElementById("username");
        var message = document.getElementById("error");
        var username_message = document.getElementById("username-error");
        var email_message = document.getElementById("email-error");
        var org_message = document.getElementById("org_name-error");
        var password1_message = document.getElementById("password1-error");
        var password2_message = document.getElementById("password2-error");
        var profession_message = document.getElementById("profession-error");
        input.addEventListener('focus', function () {
            message.hidden = true;
            username_message.hidden = true;
            email_message.hidden = true;
            org_message.hidden = true;
            password1_message.hidden = true;
            password2_message.hidden = true;
            profession_message.hidden = true;
        });
    </script>
</body>

</html>