{% extends 'base.html' %}
{% load static %}


{% block head_content %}
<link rel="stylesheet" type="text/css" href="{% static 'home/home.css' %}" />
{%endblock%}

{% block page_content %}

<div class="card">
    <div class="card-container">
        <div class="card-div1">
            <p class="card-title">New to Softbid? We've got you covered.</p>
        </div>
        <div class="card-div2">
            <a href="{% url 'support' %}" class="button">Coming soon</a>
        </div>
    </div>
</div>

{%endblock%}