{% extends 'base.html' %}

{% load static %}

{% block head_content %}
<meta charset="UTF-8">
<title>Bid_listing</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<!-- <script src="{% static 'Datatables/dataTables.searchBuilder.min.js' %}"></script>
    <script src="{% static 'Datatables/dataTables.dateTime.min.js' %}"></script> -->
<!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />
<!-- <link rel="stylesheet" href="{% static 'Datatables/demo.css' %}"/>
    <link rel="stylesheet" href="{% static 'Datatables/searchBuilder.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'Datatables/dataTables.dateTime.min.css' %}"/> -->
<style>
    body {
        line-height: 1.6;
    }

    ul {
        margin-top: 0 !important;
    }

    a {
        color: var(--theme-fg) !important;
    }

    nav a {
        text-decoration: none !important;
        font-weight: 400 !important;
        padding: 0.25em 0 !important;
        color: var(--theme-fg) !important;
    }

    nav ul {
        margin: auto !important;
    }

    table {
        width: 100% !important;
    }
</style>
<script type="text/javascript">
    $(document).ready(function () {
        // Setup - add a text input to each footer cell
        // $('#example th').each( function () {
        //     var title = $(this).text();
        //     $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
        // } );

        // DataTable
        var table = $('#example').DataTable({
            "order": [[1, "desc"]],
            initComplete: function () {
                // Apply the search
                this.api().columns().every(function () {
                    var that = this;

                    $('input', this.footer()).on('keyup change clear', function () {
                        if (that.search() !== this.value) {
                            that
                                .search(this.value)
                                .draw();
                        }
                    });
                });
            }
        });
    });
</script>
<!-- </head> -->
{% endblock %}

<!-- <body> -->
{% block page_content %}
<div id="wrap" style="margin-top: 4%;width: 100%;">
    <div class="container">
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>user name</th>
                    <th>user score</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_list%}
                <tr>
                    <td>{{ user.user }}</td>
                    <td>{{ user.score }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<!-- </body>

</html> -->
{% endblock %}