<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Project_listing</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <!-- <script src="{% static 'Datatables/dataTables.searchBuilder.min.js' %}"></script>
    <script src="{% static 'Datatables/dataTables.dateTime.min.js' %}"></script> -->
    <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.min.css" />
    <!-- <link rel="stylesheet" href="{% static 'Datatables/demo.css' %}"/>
    <link rel="stylesheet" href="{% static 'Datatables/searchBuilder.dataTables.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'Datatables/dataTables.dateTime.min.css' %}"/> -->

    <script type="text/javascript">
        $(document).ready(function () {
            // Setup - add a text input to each footer cell
            // $('#example th').each( function () {
            //     var title = $(this).text();
            //     $(this).html( '<input type="text" placeholder="Search '+title+'" />' );
            // } );

            // DataTable
            var table = $('#example').DataTable({
                initComplete: function () {
                    // Apply the search
                    this.api().columns().every(function () {
                        var that = this;

                        $('input', this.footer()).on('keyup change clear', function () {
                            if (that.search() !== this.value) {
                                that
                                    .search(this.value)
                                    .draw();
                            }
                        });
                    });
                }
            });

        });
    </script>
</head>

<body>
    <div id="wrap" style="margin-top: 4%;">
        <div class="container">
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Project id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Client id</th>
                        <th>Due Date</th>
                        <th>Requirements</th>
                        <th>Bid</th>
                        <th>Modify</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in project_list%}
                    <tr>
                        <td>{{ obj.Project_id }}</td>
                        <td>{{ obj.Name }}</td>
                        <td>{{ obj.Description }}</td>
                        <td>{{ obj.Client_id }}</td>
                        <td>{{ obj.DueDate }}</td>
                        {% if obj.Attachments != "" %}
                        <td><a href="/{{ obj.Attachments}}">Attachments</a></td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td><a href="/bid_post?id={{ obj.Project_id }}">Bid</a></td>
                        <td><a href="/project_modify?id={{ obj.Project_id }}">Modify</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Project id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Client id</th>
                        <th>Due Date</th>
                        <th>Requirements</th>
                        <th>Bid</th>
                        <th>Modify</th>
                    </tr>
                </tfoot>
            </table>
</body>

</html>