html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.login_form{
    min-width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
input[type=text], input[type=password] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=text]:focus, input[type=password]:focus {
    background-color: #fff;
    outline: none;
    border-bottom: 3px solid #5fbae9;
  }
  .image { 
    position: relative;  
}
.image input { 
    display:block; 
    width: 100%; 
    box-sizing: border-box 
}
.image img { 
    position: absolute; 
    left: 5px;
    padding: 16px;
}
.passwordimage { 
  position: relative;  
}
.passwordimage input { 
  display:block; 
  width: 100%; 
  box-sizing: border-box 
}
.passwordimage img { 
  position: absolute; 
  left: 5px;
  padding: 13px;
  width: 57px;
}
.redirect {
  margin-top: 10px;
  text-align: center;
}
#error {
  color: red;
  text-align: center;
}