html {
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
    min-height: 100%;
    position: relative;
    margin: 0;
    padding-bottom: 10rem;
}
.register_form{
   margin: 0 auto;
   padding-top: 80px;
   min-width: 50%;
   max-width: 70%;
}
.abc{
    padding: 5px;
    width: 100%;
}
input[type=text], input[type=password], input[type=email], select {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 100%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
  }

  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #fff;
    outline: none;
    border-bottom: 3px solid #5fbae9;
  }

.emailimage { 
    position: relative;  
}
.emailimage input { 
    display:block; 
    width: 100%; 
    box-sizing: border-box 
}
.emailimage img { 
    position: absolute; 
    left: 5px;
    padding: 16px;
}
.orgimage { 
    position: relative;  
}
.orgimage input { 
    display:block; 
    width: 100%; 
    box-sizing: border-box 
}
.orgimage img { 
    position: absolute; 
    left: 5px;
    padding: 13px;
    width: 57px;
}
.passwordimage { 
    position: relative;  
}
.passwordimage input { 
    display:block; 
    width: 100%; 
    box-sizing: border-box 
}
.passwordimage img { 
    position: absolute; 
    left: 5px;
    padding: 13px;
    width: 57px;
}
.redirect {
    margin-top: 10px;
    text-align: center;
  }
  .iamimage { 
    position: relative;  
}
.iamimage select { 
    display:block; 
    width: 100%; 
    box-sizing: border-box 
}
.iamimage img { 
    position: absolute; 
    left: 5px;
    padding: 10px;
    width: 57px;
    top: 24px;
}
#error {
    color: red;
    text-align: center;
  }
.user-msg-error {
    color: red;
}
#username-error {
    color: red;
}
#email-error {
    color: red;
}
#org_name-error {
    color: red;
}
#password1-error {
    color: red;
}
#password2-error {
    color: red;
}
#profession-error {
    color: red;
}