.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: var(--page-max-width);
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px rgb(101 52 235 / 0.2);
  margin: 1rem 2rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 90%;
}

.card-div1 {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 2rem;
}

.card-div2 {
  display: flex;
  justify-content: center;
  width: 50%;
  padding: 2rem;
}

.card-title {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(22px, 3vw, 55px);
  font-weight: 800;
  color: var(--theme-bg);
}

.card .button {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(18px, 2vw, 30px);
  font-weight: 600;
  white-space: nowrap;
  color: var(--theme-fg);
  background: var(--theme-bg);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

/* to alternate on even/odd cards and switch their direction */
card::before {
  counter-increment: card-counter;
}

.card:nth-child(even) .card-container {
  flex-direction: row-reverse;
}

/* TODO @design-decision    Should we alternate colors too? Uncomment to see  */

.card:nth-child(even) {
  background: var(--theme-bg);
  color: var(--theme-fg);
}

.card:nth-child(even) .card-title {
  color: var(--theme-fg);
}

.card:nth-child(even) .button {
  background: var(--theme-fg);
  color: var(--theme-bg);
}

/* End of TODO @design-decision */

@media (max-width: 975px) {
  .card {
    width: 95%;
  }

  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .card:nth-child(even) .card-container {
    flex-direction: column;
  }

  .card-div1 {
    width: 95%;
    padding: 0;
    align-items: center;
  }

  .card-title {
    font-size: clamp(22px, 7vw, 45px);
    text-align: center;
  }

  .card .button {
    font-size: clamp(18px, 4vw, 25px);
  }
}
