.quickfact-container {
  /* display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  gap: 1em; */
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
  max-width: var(--page-max-width);
  margin: 1rem;
}

.quickfact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 170px;
  /* flex-grow: 0.05;
  flex-shrink: 0.05; */
  /* flex: 1; */
  /* width: 90%; */
  /* width: 0; */
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px rgb(101 52 235 / 0.2);
  /* margin: 1rem 2rem; */
  background-color: var(--theme-bg);
}

.quickfact .big {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(22px, 6vw, 55px);
  font-weight: 800;
  color: var(--theme-fg);
  padding: 0.5em 0.5em 0;
  flex-basis: 3;
}

.quickfact .small {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(18px, 1vw, 30px);
  font-weight: 600;
  color: var(--theme-fg);
  padding: 0.5em 1em;
  flex-basis: 1;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: var(--page-max-width);
  border-radius: 1.5rem;
  box-shadow: 3px 3px 10px rgb(101 52 235 / 0.2);
  margin: 1rem 2rem;
  background-color: var(--theme-bg);
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 90%;
}

.card-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  font-family: "Montserrat", sans-serif;
  font-size: clamp(22px, 3vw, 55px);
  font-weight: 800;
  color: var(--theme-fg);
  padding: 2rem 1rem 1rem;
}

.card .card-title .button {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(18px, 0.8vw, 30px);
  font-weight: 600;
  white-space: nowrap;
  color: var(--theme-bg);
  background: var(--theme-fg);
  padding: 0.5em 0.5em;
  border-radius: 0.5rem;
  margin-left: 2em;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 2rem;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(18px, 2vw, 30px);
  font-weight: 600;
  color: var(--theme-fg);
  background-color: var(--theme-bg);
}

.card-content-elements {
  padding: 0.5rem;
}

.card .button {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(18px, 2vw, 30px);
  font-weight: 600;
  white-space: nowrap;
  color: var(--theme-fg);
  background: var(--theme-bg);
  padding: 0.5em 1em;
  border-radius: 0.5rem;
}

details > summary {
  text-align: center;
  cursor: pointer;
}

details > p {
  /* color: var(--theme-txt); */
  font-size: clamp(18px, 1vw, 30px);
  font-weight: 500;
  text-align: center;
}

@media (max-width: 975px) {
  .card {
    width: 95%;
  }

  .card-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
  }

  .card:nth-child(even) .card-container {
    flex-direction: column;
  }

  .card-div1 {
    width: 95%;
    padding: 0;
    align-items: center;
  }

  .card-title {
    font-size: clamp(22px, 7vw, 45px);
    text-align: center;
  }

  .card .button {
    font-size: clamp(18px, 4vw, 25px);
  }
}
